.container{
    width: 100%;
    min-height: 100vh;
    background-color: #191919;
    color: white;
    padding-bottom: 1.5rem;
    text-align: center;
    padding-inline: 2rem;
    overflow: hidden;
}
