.header{
    background-color: #000000;
    border-bottom: 2px solid #f44336;
    position: fixed;
    top: 0;
    width: 100%;
    height: 68px;
    display: flex;
    font-size: 1.5rem;
    align-items: center;
    justify-content: space-around;
    z-index: 9999;
}

.header span{
    font-size: 2rem;
    color: #b71c1c;
    font-weight: 500;
}

.header nav{
    margin-right: 1rem;
}

.header a{
    text-decoration: none;
    color: white;
    padding-inline: .5rem;
}


/* Responsive */

@media (max-width: 480px){
    .header span{
        font-size: 1.5rem;
    }

    .header a{
        font-size: .95rem;
        padding-inline: .5rem;
    }
}

@media (max-width: 380px){
    .header span{
        font-size: 1.5rem;
    }

    .header a{
        font-size: .75rem;
    }
}

